.env

# misc
.DS_Store
*.pem

# dependencies
node_modules

# test output
coverage

# dist output
dist
build

# environment variables
.env*.local

# cache
.eslintcache
.stylelintcache

# next.js
.next
out

# debug
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
yarn-error.log*
.pnpm-*

# vercel
.vercel

#swc
.swc
